.root {
    position: sticky;
    bottom: 0;
    padding: 16px;
    margin-top: 16px;
    background-color: var(--theme--colors--surface--main);
    border-top: solid 1px var(--theme--colors--palettes--neutral--main);
    left: 0;
}
